*{
    margin:1px;
    padding:0;
  }
 .outer{
     border:1px solid black;
     height:95vh;
  
 }
 .row #inner{
     background-color: rgb(48, 84, 150);
     opacity:0.8;
     height:10vh;
    margin:0;
   position: fixed;
   color:white;
 }
 .search{
  position: fixed;
  margin-top:13vh;
  margin-left:3%;
 }
 .chat{
     height:13vh;
    
 }
 .header{
     margin:3% 0.2%;
     font-size:2.5rem;
 }
 #searchbar{
     background-color:rgb(231, 221, 221);
     padding:7px;
     border-radius:20px;
     font-size:1.5rem;
     width: 26vw;
 }
 
 ::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
border-radius:2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}
.main::-webkit-input-placeholder { 
font-family: FontAwesome;
font-weight: normal; 
overflow: visible; 
vertical-align: top; 
display: inline-block !important; 
padding-left: 5px;
padding-top: 2px; 

}

.main::-moz-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
display: inline-block !important;
padding-left: 5px;
padding-top: 2px;

}

.main:-ms-input-placeholder  { 
font-family: FontAwesome;
font-weight: normal;
overflow: visible;
vertical-align: top;
/* display: inline-block !important; */
padding-left: 5px;
padding-top: 2px;

}
.main::selected{
border-radius: 20px;
}
.user{
color:blue;
}
.chat:hover{
background-color:rgb(218, 234, 245);
}

#settings{
    position: absolute;
    left: 33.5vw;
    background-color: white;
    /* margin-top: 0; */
    padding: 0;
    box-sizing: border-box;
}

.setting-options{
    padding: 10px;
    background-color: rgb(48, 84, 150);
    opacity: 0.5;
    color: whitesmoke;
    font-size: large;
    margin: 5px;
    border-radius: 10px;
}

.setting-options:hover{
    background-color: rgb(48, 84, 150);
    opacity: 0.7;
    padding: 12px;
}

a{
    margin: 0;
}
